<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="col-md-6 offset-md-3">Edit Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]"
                    value="<%=campground.title%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class=" mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]"
                    value="<%=campground.location%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class=" mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="price-label">$</span>
                    </div>
                    <input type="text" id="price" class="form-control" name="campground[price]" required
                        value="<%=campground.price%>" placeholder="0.0" aria-label="price"
                        aria-describedby="price-label">
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required><%= campground.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="">Add More Images</label>
                <div class="custom-file">
                    <input type="file" name="image" class="custom-file-input" id="image" multiple>
                    <label class="custom-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                    </label>
                </div>
                <script>
                    const input = document.getElementById('image');
                    // Listen for files selection
                    input.addEventListener('change', (e) => {
                        // Retrieve all files
                        const files = input.files;
                        // Check files count
                        if (files.length > 3) {
                            alert(`Only 3 files are allowed to upload.`);
                            return;
                        }
                        // TODO: continue uploading on server
                    });
                </script>
            </div>


            <div class="mb-3">
                <% campground.images.forEach(function(img, i) { %>
                <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <div class="row">
                        <div class="col-md-6 col-lg-6"></div>
                        <div class="col-md-6 col-lg-6"></div>

                    </div>
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename %>">
                </div>
                <label for=" image-<%=i%>">Delete?</label>
                <% }) %>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%=campground._id%> ">Back to Campground</a>
    </div>
</div>